body
{
    background-color:#dafdaf;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#cae64a;
    font-family:sans-serif;
    text-transform:lowercase;
    font-variant:small-caps;
    font-weight:700;
}
*{
    image-rendering: pixelated;
}
:root
{
    --wh:calc(calc(1vw + 1vh) / 3);
}
.canvasJuego {
    background: #3fbfff;
    height:calc(var(--wh) * 70);
    width:calc(var(--wh) * 70);
    position:relative;
    overflow:hidden;
}
.floor {
    content:"";
    position:absolute;
    z-index:100;
    width:calc(var(--wh) * 70);
    height:20%;
    top:80%;
    left:0px;
    background:#886f00;
}
.floor:before {
    content:"";
    position:absolute;
    z-index:101;
    width:calc(var(--wh) * .4);
    height:1px;
    top:50%;
    left:50%;
    background:black;
    box-shadow:calc(var(--wh) *  4) calc(var(--wh) * 2) 0 0 black,
               calc(var(--wh) * -4) calc(var(--wh) *-2) 0 0 black,
               calc(var(--wh) * 14) calc(var(--wh) * 8) 0 0 black,
               calc(var(--wh) * -7) calc(var(--wh) * 3) 0 0 black,
               calc(var(--wh) * 20) calc(var(--wh) * 9) 0 0 black,
               calc(var(--wh) *-30) calc(var(--wh) * 5) 0 0 black,
               calc(var(--wh) * 25) calc(var(--wh) *-6) 0 0 black,
               calc(var(--wh) * 16) calc(var(--wh) *-3) 0 0 black,
               calc(var(--wh) *  4) calc(var(--wh) *-5) 0 0 black,
               calc(var(--wh) *-30) calc(var(--wh) * 0) 0 0 black,
               calc(var(--wh) * 30) calc(var(--wh) * 0) 0 0 black,
               calc(var(--wh) * 14) calc(var(--wh) * 2) 0 0 black,
               calc(var(--wh) *-14) calc(var(--wh) *-3) 0 0 black,
               calc(var(--wh) *  7) calc(var(--wh) *-3) 0 0 black,
               calc(var(--wh) *-20) calc(var(--wh) *-4) 0 0 black,
               calc(var(--wh) * 30) calc(var(--wh) *-5) 0 0 black,
               calc(var(--wh) *-25) calc(var(--wh) * 6) 0 0 black,
               calc(var(--wh) * 30) calc(var(--wh) * 5) 0 0 black,
               calc(var(--wh) *-25) calc(var(--wh) *-6) 0 0 black,
               calc(var(--wh) *-16) calc(var(--wh) * 3) 0 0 black,
               calc(var(--wh) * -4) calc(var(--wh) * 5) 0 0 black;
}
.grass{
    position:absolute;
    top:80%;
    transform:translate(-40%) rotateZ(90deg);
    background-color:#187218;
    z-index:102;
    width: calc(var(--wh) * 5);
    height: calc(var(--wh) * .2);
    -moz-border-radius: 0 0 0 50% / 0 100%;
    -webkit-border-radius: 0 0 0 50% / 0 100%;
    border-radius: 0 0 0 50%/ 0  100% ;
    border: 3px solid transparent;
    box-shadow: 0 calc(var(--wh) * -1) 0 0 #a9f359,
                2px calc(var(--wh) * -2) 0 0 #4c9941,
                0 calc(var(--wh) * -3) 0 0 #187218,
                2px calc(var(--wh) * -4) 0 0 #4c9941,
                0 calc(var(--wh) * -5) 0 0 #a9f359,
                2px calc(var(--wh) * -6) 0 0 #4c9941,
                0 calc(var(--wh) * -7) 0 0 #187218,
                2px calc(var(--wh) * -8) 0 0 #4c9941,
                0 calc(var(--wh) * -9) 0 0 #a9f359,
                2px calc(var(--wh) * -10) 0 0 #4c9941,
                0 calc(var(--wh) * -11) 0 0 #187218,
                2px calc(var(--wh) * -12) 0 0 #4c9941,
                0 calc(var(--wh) * -13) 0 0 #a9f359,
                2px calc(var(--wh) * -14) 0 0 #4c9941,
                0 calc(var(--wh) * -15) 0 0 #187218,
                2px calc(var(--wh) * -16) 0 0 #4c9941,
                0 calc(var(--wh) * -17) 0 0 #a9f359,
                2px calc(var(--wh) * -18) 0 0 #4c9941,
                0 calc(var(--wh) * -19) 0 0 #187218,
                2px calc(var(--wh) * -20) 0 0 #4c9941,
                0 calc(var(--wh) * -21) 0 0 #a9f359,
                2px calc(var(--wh) * -22) 0 0 #4c9941,
                0 calc(var(--wh) * -23) 0 0 #187218,
                2px calc(var(--wh) * -24) 0 0 #4c9941,
                0 calc(var(--wh) * -25) 0 0 #a9f359,
                2px calc(var(--wh) * -26) 0 0 #4c9941,
                0 calc(var(--wh) * -27) 0 0 #187218,
                2px calc(var(--wh) * -28) 0 0 #4c9941,
                0 calc(var(--wh) * -29) 0 0 #a9f359,
                2px calc(var(--wh) * -30) 0 0 #4c9941,
                0 calc(var(--wh) * -31) 0 0 #187218,
                2px calc(var(--wh) * -32) 0 0 #4c9941,
                0 calc(var(--wh) * -33) 0 0 #a9f359,
                2px calc(var(--wh) * -34) 0 0 #4c9941,
                0 calc(var(--wh) * -35) 0 0 #187218,
                2px calc(var(--wh) * -36) 0 0 #4c9941,
                0 calc(var(--wh) * -37) 0 0 #a9f359,
                2px calc(var(--wh) * -38) 0 0 #4c9941,
                0 calc(var(--wh) * -39) 0 0 #187218,
                2px calc(var(--wh) * -40) 0 0 #4c9941,
                0 calc(var(--wh) * -41) 0 0 #a9f359,
                2px calc(var(--wh) * -42) 0 0 #4c9941,
                0 calc(var(--wh) * -43) 0 0 #187218,
                2px calc(var(--wh) * -44) 0 0 #4c9941,
                0 calc(var(--wh) * -45) 0 0 #a9f359,
                2px calc(var(--wh) * -46) 0 0 #4c9941,
                0 calc(var(--wh) * -47) 0 0 #187218,
                2px calc(var(--wh) * -48) 0 0 #4c9941,
                0 calc(var(--wh) * -49) 0 0 #a9f359,
                2px calc(var(--wh) * -50) 0 0 #4c9941,
                0 calc(var(--wh) * -51) 0 0 #187218,
                2px calc(var(--wh) * -52) 0 0 #4c9941,
                0 calc(var(--wh) * -53) 0 0 #a9f359,
                2px calc(var(--wh) * -54) 0 0 #4c9941,
                0 calc(var(--wh) * -55) 0 0 #187218,
                2px calc(var(--wh) * -56) 0 0 #4c9941,
                0 calc(var(--wh) * -57) 0 0 #a9f359,
                2px calc(var(--wh) * -58) 0 0 #4c9941,
                0 calc(var(--wh) * -59) 0 0 #187218,
                2px calc(var(--wh) * -60) 0 0 #4c9941,
                0 calc(var(--wh) * -61) 0 0 #a9f359,
                2px calc(var(--wh) * -62) 0 0 #4c9941,
                0 calc(var(--wh) * -63) 0 0 #187218,
                2px calc(var(--wh) * -64) 0 0 #4c9941,
                0 calc(var(--wh) * -65) 0 0 #a9f359,
                2px calc(var(--wh) * -66) 0 0 #4c9941,
                0 calc(var(--wh) * -67) 0 0 #187218,
                2px calc(var(--wh) * -68) 0 0 #4c9941,
                0 calc(var(--wh) * -69) 0 0 #a9f359,
                2px calc(var(--wh) * -70) 0 0 #4c9941,
                0 calc(var(--wh) * -71) 0 0 #187218,
                2px calc(var(--wh) * -72) 0 0 #4c9941,
                0 calc(var(--wh) * -73) 0 0 #a9f359,
                2px calc(var(--wh) * -74) 0 0 #4c9941,
                0 calc(var(--wh) * -75) 0 0 #187218,
                2px calc(var(--wh) * -76) 0 0 #4c9941,
                0 calc(var(--wh) * -77) 0 0 #a9f359,
                2px calc(var(--wh) * -78) 0 0 #4c9941,
                0 calc(var(--wh) * -79) 0 0 #187218,
                2px calc(var(--wh) * -80) 0 0 #4c9941,
                0 calc(var(--wh) * -81) 0 0 #a9f359,
                2px calc(var(--wh) * -82) 0 0 #4c9941,
                0 calc(var(--wh) * -83) 0 0 #187218,
                2px calc(var(--wh) * -84) 0 0 #4c9941,
                0 calc(var(--wh) * -85) 0 0 #a9f359,
                2px calc(var(--wh) * -86) 0 0 #4c9941,
                0 calc(var(--wh) * -87) 0 0 #187218,
                2px calc(var(--wh) * -88) 0 0 #4c9941,
                0 calc(var(--wh) * -89) 0 0 #a9f359,
                2px calc(var(--wh) * -90) 0 0 #4c9941,
                0 calc(var(--wh) * -91) 0 0 #187218,
                2px calc(var(--wh) * -92) 0 0 #4c9941,
                0 calc(var(--wh) * -93) 0 0 #a9f359,
                2px calc(var(--wh) * -94) 0 0 #4c9941,
                0 calc(var(--wh) * -95) 0 0 #187218,
                2px calc(var(--wh) * -96) 0 0 #4c9941,
                0 calc(var(--wh) * -97) 0 0 #a9f359,
                2px calc(var(--wh) * -98) 0 0 #4c9941,
                0 calc(var(--wh) * -99) 0 0 #187218,
                2px calc(var(--wh) * -100) 0 0 #4c9941,
                0 calc(var(--wh) * -101) 0 0 #a9f359,
                2px calc(var(--wh) * -102) 0 0 #4c9941,
                0 calc(var(--wh) * -103) 0 0 #187218,
                2px calc(var(--wh) * -104) 0 0 #4c9941,
                0 calc(var(--wh) * -105) 0 0 #a9f359,
                2px calc(var(--wh) * -106) 0 0 #4c9941,
                0 calc(var(--wh) * -107) 0 0 #187218,
                2px calc(var(--wh) * -108) 0 0 #4c9941,
                0 calc(var(--wh) * -109) 0 0 #a9f359,
                2px calc(var(--wh) * -110) 0 0 #4c9941,
                0 calc(var(--wh) * -111) 0 0 #187218,
                2px calc(var(--wh) * -112) 0 0 #4c9941,
                0 calc(var(--wh) * -113) 0 0 #a9f359,
                2px calc(var(--wh) * -114) 0 0 #4c9941,
                0 calc(var(--wh) * -115) 0 0 #187218,
                2px calc(var(--wh) * -116) 0 0 #4c9941,
                0 calc(var(--wh) * -117) 0 0 #a9f359,
                2px calc(var(--wh) * -118) 0 0 #4c9941,
                0 calc(var(--wh) * -119) 0 0 #187218,
                2px calc(var(--wh) * -120) 0 0 #4c9941,
                0 calc(var(--wh) * -121) 0 0 #a9f359,
                2px calc(var(--wh) * -122) 0 0 #4c9941,
                0 calc(var(--wh) * -123) 0 0 #187218,
                2px calc(var(--wh) * -124) 0 0 #4c9941,
                0 calc(var(--wh) * -125) 0 0 #a9f359,
                2px calc(var(--wh) * -126) 0 0 #4c9941,
                0 calc(var(--wh) * -127) 0 0 #187218,
                2px calc(var(--wh) * -128) 0 0 #4c9941,
                0 calc(var(--wh) * -129) 0 0 #a9f359,
                2px calc(var(--wh) * -130) 0 0 #4c9941,
                0 calc(var(--wh) * -131) 0 0 #187218,
                2px calc(var(--wh) * -132) 0 0 #4c9941,
                0 calc(var(--wh) * -133) 0 0 #a9f359,
                2px calc(var(--wh) * -134) 0 0 #4c9941,
                0 calc(var(--wh) * -135) 0 0 #187218,
                2px calc(var(--wh) * -136) 0 0 #4c9941,
                0 calc(var(--wh) * -137) 0 0 #a9f359,
                2px calc(var(--wh) * -138) 0 0 #4c9941,
                0 calc(var(--wh) * -139) 0 0 #187218,
                2px calc(var(--wh) * -140) 0 0 #4c9941,
                0 calc(var(--wh) * -141) 0 0 #a9f359,
                2px calc(var(--wh) * -142) 0 0 #4c9941,
                0 calc(var(--wh) * -143) 0 0 #187218,
                2px calc(var(--wh) * -144) 0 0 #4c9941,
                0 calc(var(--wh) * -145) 0 0 #a9f359,
                2px calc(var(--wh) * -146) 0 0 #4c9941,
                0 calc(var(--wh) * -147) 0 0 #187218,
                2px calc(var(--wh) * -148) 0 0 #4c9941,
                0 calc(var(--wh) * -149) 0 0 #a9f359,
                2px calc(var(--wh) * -150) 0 0 #4c9941,
                0 calc(var(--wh) * -151) 0 0 #187218,
                2px calc(var(--wh) * -152) 0 0 #4c9941,
                0 calc(var(--wh) * -153) 0 0 #a9f359,
                2px calc(var(--wh) * -154) 0 0 #4c9941,
                0 calc(var(--wh) * -155) 0 0 #187218,
                2px calc(var(--wh) * -156) 0 0 #4c9941,
                0 calc(var(--wh) * -157) 0 0 #a9f359,
                2px calc(var(--wh) * -158) 0 0 #4c9941,
                0 calc(var(--wh) * -159) 0 0 #187218,
                2px calc(var(--wh) * -150) 0 0 #4c9941,
                0 calc(var(--wh) * -151) 0 0 #a9f359;
}
.tree:after {
    content: "";
    position: absolute;
    left: -24px ;
    top: -110%;
    width: 50px;
    height: 100%;
    z-index:99;
    background-color: #5cb85c;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.tree {
    left:10%;
    top:60%;
    position: absolute;
    width: 0px;
    z-index:99;
    height: 16%;
    border: solid 5px #886f00;
    border-top:solid 30px transparent;
    }
.doc
{
    background-position:0% 0%;
    background-image:url("https://i.pinimg.com/originals/20/fc/4f/20fc4fe2c41262ed46c246d44f10ccbf.png");
    background-repeat:no-repeat;
    width:62px;
    height:50px;
    --ws:62px;
    --hs:50px;
    position:absolute;
    transform:translateX(-100%);
    animation-name:WalkDoc, MoveDoc, WalkJump;
    animation-duration:.5s, 2s, .7s;
    animation-delay:0s, 0s, 2s;
    animation-timing-function:linear, linear, ease-in;
    animation-iteration-count:infinite, 1, 1;
    animation-fill-mode: both, forwards, forwards;
    animation-direction:reverse, normal, normal;
    top:calc(var(--wh) * 55);
}
#shot01:checked ~ .doc
{
	background-position: calc((var(--ws) * -5) - 15px) 0%;
	left:calc(var(--wh) * 40);
	top:calc(var(--wh) * 60);
	animation-name:HuntDock;
	animation-duration:1s;
	animation-delay:1.5s;
	animation-timing-function:linear;
	animation-iteration-count: 2;
	animation-fill-mode: backwards;
animation-direction: alternate;
}
#shot02:checked ~ .doc
{
    background-position: calc(var(--ws) * -5 ) calc(var(--hs) * -1 - 10px);
    width:72px;
    left:calc(var(--wh) * 40);
    top:calc(var(--wh) * 60);
    animation-name:HuntDock2;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
#shot03:checked ~ .doc
{    background-position: calc(var(--ws) * -5 - 15px) 0%;
    left:calc(var(--wh) * 40);
    top:calc(var(--wh) * 60);
    animation-name:HuntDock;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
#shot04:checked ~ .doc
{
    background-position: calc(var(--ws) * -5 ) calc(var(--hs) * -1 - 10px);
    width:72px;
    left:calc(var(--wh) * 40);
    top:calc(var(--wh) * 60);
    animation-name:HuntDock2;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
#shot05:checked ~ .doc
{    background-position: calc(var(--ws) * -5 - 15px) 0%;
    left:calc(var(--wh) * 40);
    top:calc(var(--wh) * 60);
    animation-name:HuntDock;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
#shot06:checked ~ .doc
{
    background-position: calc(var(--ws) * -5 ) calc(var(--hs) * -1 - 10px);
    width:72px;
    left:calc(var(--wh) * 40);
    top:calc(var(--wh) * 60);
    animation-name:HuntDock2;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
#shot07:checked ~ .doc
{    background-position: calc(var(--ws) * -5 - 15px) 0%;
    left:calc(var(--wh) * 40);
    top:calc(var(--wh) * 60);
    animation-name:HuntDock;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
#shot08:checked ~ .doc
{
    background-position: calc(var(--ws) * -5 ) calc(var(--hs) * -1 - 10px);
    width:72px;
    left:calc(var(--wh) * 40);
    top:calc(var(--wh) * 60);
    animation-name:HuntDock2;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
#shot09:checked ~ .doc
{    background-position: calc(var(--ws) * -5 - 15px) 0%;
    left:calc(var(--wh) * 40);
    top:calc(var(--wh) * 60);
    animation-name:HuntDock;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
#shot10:checked ~ .doc
{
    background-position: calc(var(--ws) * -5 ) calc(var(--hs) * -1 - 10px);
    width:72px;
    left:calc(var(--wh) * 40);
    top:calc(var(--wh) * 60);
    animation-name:HuntDock2;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
label[for*="shot"]
{
    display:inline-block;
    visibility:hidden;
    background-position:0% calc(var(--hs) * -2 - 8px);
    background-image:url("https://i.pinimg.com/originals/20/fc/4f/20fc4fe2c41262ed46c246d44f10ccbf.png");
    background-repeat:no-repeat;
    width:40px;
    height:40px;
    --ws:40px;
    --hs:50px;
    position:absolute;
    left:55%;
    top:10%;
    transform:translateX(-100%);
    animation-name:duckFly, flyUp, flymoved01;
    animation-delay:3.5s, 3.5s, 3.5s, 0s;
    animation-timing-function:ease, ease, ease-in-out, ease-in;
    animation-iteration-count:infinite, infinite, infinite, 1;
    animation-fill-mode:forwards;
    animation-direction:alternate,alternate,normal, normal;
    animation-play-state: paused, paused, paused, paused ;
}label[for$="01"]{    animation-duration:.4s, 9s, 5s,3s;
    animation-delay:3s, 3s, 3s, 0s;
    animation-play-state: running, running, running, paused;
}#shot01:checked ~ label[for$="01"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}#shot01:checked ~ label[for$="02"] {
    animation-name:duckFly, flyUp, flymoved02;
    animation-duration:.4s, 6s, 4s,3s;
    animation-play-state: running, running, running, paused;
}#shot02:checked ~ label[for$="02"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}#shot02:checked ~ label[for$="03"] {
    animation-timing-function:ease-in, ease-in, ease-in;
    animation-duration:.3s, 4.5s, 10s,3s;
    animation-play-state: running, running, running, paused;
}#shot03:checked ~ label[for$="03"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}#shot03:checked ~ label[for$="04"] {
    animation-duration:.5s, 7s, 12s,3s;
    animation-play-state: running, running, running, paused;
}#shot04:checked ~ label[for$="04"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}#shot04:checked ~ label[for$="05"] {    animation-name:duckFly, flyUp, flymoved02;
    animation-duration:.3s, 4.5s, 5s,3s;
    animation-play-state: running, running, running, paused;
}#shot05:checked ~ label[for$="05"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}#shot05:checked ~ label[for$="06"] {
    animation-timing-function:ease-in-out, ease-in-out, ease-in-out;
    animation-duration:.2s, 5s, 6s,3s;
    animation-play-state: running, running, running, paused;
}#shot06:checked ~ label[for$="06"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}#shot06:checked ~ label[for$="07"] {    animation-name:duckFly, flyUp, flymoved02;
    animation-duration:.3s, 6s, 3s,3s;
    animation-play-state: running, running, running, paused;
}#shot07:checked ~ label[for$="07"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}#shot07:checked ~ label[for$="08"] {    animation-timing-function:ease-out, ease-out, ease-out;
    animation-duration:.7s, 7s, 8s,3s;
    animation-play-state: running, running, running, paused;
}#shot08:checked ~ label[for$="08"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}#shot08:checked ~ label[for$="09"] {
    animation-duration:.8s, 9s, 7.8s,3s;
    animation-play-state: running, running, running, paused;
}#shot09:checked ~ label[for$="09"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}#shot09:checked ~ label[for$="10"] {    animation-name:duckFly, flyUp, flymoved02;
    animation-duration:.3s, 3s, 4s,3s;
    animation-play-state: running, running, running, paused;
}#shot10:checked ~ label[for$="10"] {
    animation-name:duckFly, flyUp, flymoved01, flyDown;
    animation-play-state: paused, paused, paused, running;
}
.score:after{
    content: "---- score";
    padding:2px;
    position:absolute;
    background:black;
    bottom:0%;
    right:5%;
    z-index:150;
    width: 20%;
    height: 8%;
    border:solid 2px #cae64a;
    box-sizing:border-box;
    border-radius:3px;
}#shot01:checked ~ .score:after{
    content: "0100 score";
}
#shot02:checked ~ .score:after{
    content: "0200 score";
}
#shot03:checked ~ .score:after{
    content: "0300 score";
}
#shot04:checked ~ .score:after{
    content: "0400 score";
}
#shot05:checked ~ .score:after{
    content: "0500 score";
}
#shot06:checked ~ .score:after{
    content: "06000 score";
}
#shot07:checked ~ .score:after{
    content: "00700 score";
}
#shot08:checked ~ .score:after{
    content: "08000 score";
}
#shot09:checked ~ .score:after{
    content: "09000 score";
}
#shot10:checked ~ .score:after{
    content: "10000 score";
}
.hit{
    position:absolute;
    background:black;
    bottom:0%;
    right:30%;
    z-index:150;
    width: 40%;
    height: 8%;
    border: solid 2px #cae64a;
    box-sizing:border-box;
    border-radius:3px;
    display:grid;
    grid-template:repeat(2, 1fr) / repeat(14, 1fr);
  }
.pato{
    margin:.3em 0 0 0 ;
    width:calc(var(--wh) * 1.5);
    height:calc(var(--wh) * 1);
    border-radius:50%;
    border:solid calc(var(--wh) * .4) white;
    border-bottom-width: calc(var(--wh) * .6);
    box-sizing:border-box;
    border-top:none;
    position:relative;
}
.pato:after{
    position:absolute;
    left:calc(var(--wh) * -.5);
    top:calc(var(--wh) * -1);
    content:"";
    margin:.3em 0 0 0 ;
    width:calc(var(--wh) * .8);
    height:calc(var(--wh) * .8);
    transform:rotatez(90deg);
    border-radius:50%;
    border:solid calc(var(--wh) * .3) white;
    box-sizing:border-box;
    border-bottom:none;
    border-left:none;
  }
#shot01:checked ~ .hit .pato01,
#shot01:checked ~ .hit .pato01:after{
    border-color: red!important;
}
#shot02:checked ~ .hit .pato02,
#shot02:checked ~ .hit .pato02:after{
    border-color:red!important;
}
#shot03:checked ~ .hit .pato03,
#shot03:checked ~ .hit .pato03:after{
    border-color:red!important;
}
#shot04:checked ~ .hit .pato04,
#shot04:checked ~ .hit .pato04:after{
    border-color:red!important;
}
#shot05:checked ~ .hit .pato05,
#shot05:checked ~ .hit .pato05:after{
    border-color:red!important;
}
#shot06:checked ~ .hit .pato06,
#shot06:checked ~ .hit .pato06:after{
    border-color:red!important;
}
#shot07:checked ~ .hit .pato07,
#shot07:checked ~ .hit .pato07:after{
    border-color:red!important;
}
#shot08:checked ~ .hit .pato08,
#shot08:checked ~ .hit .pato08:after{
    border-color:red!important;
}
#shot09:checked ~ .hit .pato09,
#shot09:checked ~ .hit .pato09:after{
    border-color:red!important;
}
#shot10:checked ~ .hit .pato10,
#shot10:checked ~ .hit .pato10:after{
    border-color:red!important;
}
.pato:nth-of-type(1){
    grid-column:5;
}
.lineas{
    background:white;
    width:calc(var(--wh) * .3);
    height:70%;
    grid-area:2/5;
    box-shadow:calc(var(--wh) * .9) 0 0 0 white,
               calc(var(--wh) * 1.8) 0 0 0 white,
               calc(var(--wh) * 2.7) 0 0 0 white,
               calc(var(--wh) * 3.6) 0 0 0 white,
               calc(var(--wh) * 4.5) 0 0 0 white,
               calc(var(--wh) * 5.4) 0 0 0 white,
               calc(var(--wh) * 6.3) 0 0 0 white,
               calc(var(--wh) * 7.2) 0 0 0 white,
               calc(var(--wh) * 8.1) 0 0 0 white,
               calc(var(--wh) * 9.0) 0 0 0 white,
               calc(var(--wh) * 9.9) 0 0 0 white,
               calc(var(--wh) *10.8) 0 0 0 white,
               calc(var(--wh) *11.7) 0 0 0 white,
               calc(var(--wh) *12.6) 0 0 0 white,
               calc(var(--wh) *13.5) 0 0 0 white,
               calc(var(--wh) *14.4) 0 0 0 white;
             }
.shot{
    position:absolute;
    background:black;
    bottom:0%;
    right:75%;
    z-index:150;
    width:20%;
    height:8%;
    border:solid 2px #cae64a;
    box-sizing:border-box;
    border-radius:3px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.balas {
    transition:0.2s all;
    margin-left:5px;
    opacity:1;
    background:white;
    width:8px;
    border-radius:50% 50% 0 0 ;
    height:30%;
    box-shadow: 0 1px 0 0 black,
                0 2px 0 0 white;
}
.gameover{
    transition:0.5s all;
    display:none;
    opacity:0;
    background-color:transparent;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
.gameover:after{
    content:"gameover";
    position:absolute;
    background:black;
    top:50%;
    left:50%;
    z-index:152;
    width:50%;
    height:auto;
    box-sizing:border-box;
    border-radius:3px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    transform:translate3D(-50%, -50%, 10px);
    border: solid 3px white;
    color:white;
    padding: .8em;
}
.gameover a{
    position:absolute;
    top:60%;
    left:50%;
    text-decoration:none;
    color:white;
    background-color:#FFA93F;
    margin:.5em;
    transform:translate(-50%, -50%);
    padding:.3em .8em;
}
label[for="deat"]{
    background-color:transparent;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
input[id="deat"]:checked ~ .gameover {
    display:block;
    opacity:1;
}input[id="deat"]:checked ~ .shot .balas {
    opacity:0;
}
#shot10:checked ~ .gameover {
    transition-delay: 1s;
    display:block;
    opacity:1;
}
@keyframes flyUp{
    from{        top:calc(var(--wh) * 40);
        visibility:visible;
    }
    to{        top:calc(var(--wh) * 0);
        visibility:visible;
    }
}
@keyframes flyDown{
    0%{        transform: scale(1);
        background-position:0% calc(var(--hs) * -5 + 20px);
        visibility:visible;
    }
    10.99%{        background-position:0% calc(var(--hs) * -5 + 20px);
    }    11%{        background-position:calc(var(--ws) * -1 ) calc(var(--hs) * -5 + 20px);
    }
    100%{
       transform:scale(1) translateY(calc(var(--wh) * 200));
       background-position:calc(var(--ws) * -1 ) calc(var(--hs) * -5 + 20px);
        visibility:visible;
    }
}
@keyframes flymoved01{
    0%{        left:calc(var(--wh) * 60);
        transform:scaleX(-1);
    }
    15%{        left:calc(var(--wh) * 30);
        transform:scaleX(-1);
    }
    20%{        transform:scaleX(1);
    }
    30%{        left:calc(var(--wh) * 60);
        transform:scaleX(1);
    }
    35%{        transform:scaleX(-1);
    }    50%{
        left:calc(var(--wh) * 1);
        transform:scaleX(-1);
    }    55%{
        transform:scaleX(1);
    }    70%{
        left:calc(var(--wh) * 20);
        transform:scaleX(1);
    }    70%{
        left:calc(var(--wh) * 25);
        transform:scaleX(1);
    }    90%{
        transform:scaleX(1);
    }    100%{
        left:calc(var(--wh) * 60);
        transform:scaleX(-1);
    }
}
@keyframes flymoved02{
    0%{        left:calc(var(--wh) * 40);
        transform:scaleX(-1);
    }    30%{        left:calc(var(--wh) * 32);
        transform:scaleX(-1);
    }
    50%{
        left:calc(var(--wh) * 1);
        transform:scaleX(-1);
    }    55%{
        transform:scaleX(1);
    }    70%{
        left:calc(var(--wh) * 1);
        transform:scaleX(1);
    }    80%{
        left:calc(var(--wh) * 59);
        transform:scaleX(1);
    }    85%{
        transform:scaleX(-1);
    }    100%{
        left:calc(var(--wh) * 40);
        transform:scaleX(-1);
    }
}
@keyframes duckFly {
    0%{
        background-position:calc(var(--ws) * -0 ) calc(var(--hs) * -2 - 8px);
    }
    39.99%{
        background-position:calc(var(--ws) * -0 ) calc(var(--hs) * -2 - 8px);
      }
    40%{
        background-position:calc(var(--ws) * -1 ) calc(var(--hs) * -2 - 8px);
      }
    69.99%{
        background-position:calc(var(--ws) * -1 ) calc(var(--hs) * -2 - 8px);
      }
    70%{
        background-position:calc(var(--ws) * -2 ) calc(var(--hs) * -2 - 8px);
      }
    99.99%{
        background-position:calc(var(--ws) * -2 ) calc(var(--hs) * -2 - 8px);
      }
    100%{
        background-position:calc(var(--ws) * -0 ) calc(var(--hs) * -2 - 8px);
      }
}
@keyframes WalkDoc{
    0%{
        z-index:120;
       background-position:calc(var(--ws) * 0) 0%;
    }
    19.99%{
        background-position:calc(var(--ws) * 0) 0%;
    }
    20%{
        background-position:calc(var(--ws) * -1 + 3px) 0%;
    }
    39.99%{
        background-position:calc(var(--ws) * -1 + 3px) 0%;
    }
    40%{
        background-position:calc(var(--ws) * -2 + 3px) 0%;
    }
    59.99%{
        background-position:calc(var(--ws) * -2 + 3px) 0%;
    }
    60%{
        background-position:calc(var(--ws) * -3 + 3px) 0%;
    }
    79.99%{
        background-position:calc(var(--ws) * -3 + 3px) 0%;
    }
    80%{
        background-position:calc(var(--ws) * -4 + 3px) 0%;
    }
    99.99%{
        background-position:calc(var(--ws) * -4 + 3px) 0%;
    }
    100%{
        background-position:calc(var(--ws) * 0) 0%;
        z-index:120;
    }
}
@keyframes WalkJump{
    0%{
        z-index:120;
       background-position: calc(var(--ws) * 0) calc(var(--hs) * -1 - 10px);
    }
    40.99%{
        background-position:calc(var(--ws) * 0) calc(var(--hs) * -1 - 10px);
    }
    41%{
        background-position:calc(var(--ws) * -1 + 3px) calc(var(--hs) * -1 - 10px);
    }
    75.99%{
        background-position:calc(var(--ws) * -1 + 3px) calc(var(--hs) * -1 - 10px);
        top:calc(var(--wh) * 55);
    }
    76%{
        background-position:calc(var(--ws) * -2 + 3px) calc(var(--hs) * -1 - 10px);
        top:calc(var(--wh) * 46);
    }
    99.99%{
        z-index:120;
        background-position:calc(var(--ws) * -2 + 3px) calc(var(--hs) * -1 - 10px);
        top:calc(var(--wh) * 46);
    }
    100%{
        top:calc(var(--wh) * 60);
        z-index:0;
    }
}
@keyframes MoveDoc{
    0%{
       left:calc(var(--wh) * 0);
    }    100%{
       left:calc(var(--wh) * 20);
    }
}
@keyframes HuntDock{
    0%{
       top:calc(var(--wh) * 60);
    }    70%{
       top:71%;
    }    100%{
       top:71%;
    }
}
@keyframes HuntDock2{
    0%{
       top:calc(var(--wh) * 60);
    }    70%{
       top:71%;
    }    100%{
       top:71%;
    }
}
