<div class="css-art__duck-hunt" id="duckhunt" aria-hidden="true" class="">
	<input id="waste-my-bullet-one" type="checkbox" />
	<input id="waste-my-bullet-two" type="checkbox" />
	<input id="waste-my-bullet-three" type="checkbox" />

	<input id="round-one" type="checkbox" />
	<input id="round-two" type="checkbox" />
	<input id="round-three" type="checkbox" />

	<input id="shot01" type="checkbox" />
	<input id="shot02" type="checkbox" />
	<input id="shot03" type="checkbox" />
	<input id="shot04" type="checkbox" />
	<input id="shot05" type="checkbox" />
	<input id="shot06" type="checkbox" />
	<input id="shot07" type="checkbox" />
	<input id="shot08" type="checkbox" />
	<input id="shot09" type="checkbox" />
	<input id="shot10" type="checkbox" />
	<div class="statements">
		<label for="waste-my-bullet-one"></label>
		<label for="waste-my-bullet-two"></label>
		<label for="waste-my-bullet-three"></label>

		<label for="round-one">
			<span>Round one</span>
			<span>shoot me to start</span>
		</label>
		<label for="round-two">
			<span>Round two</span>
			<span>shoot me to start</span>
		</label>
		<label for="round-three">
			<span>Round three</span>
			<span>shoot me to start</span>
		</label>

		<label for="shot01"></label>
		<label for="shot02"></label>
		<label for="shot03"></label>
		<label for="shot04"></label>
		<label for="shot05"></label>
		<label for="shot06"></label>
		<label for="shot07"></label>
		<label for="shot08"></label>
		<label for="shot09"></label>
		<label for="shot10"></label>

		<div class="grass"></div>
		<div class="dog"></div>
		<span class="score"></span>
		<span class="hit">
			<div class="duck"></div>
			<div class="duck"></div>
			<div class="duck"></div>
			<div class="duck"></div>
			<div class="duck"></div>
			<div class="duck"></div>
			<div class="duck"></div>
			<div class="duck"></div>
			<div class="duck"></div>
			<div class="duck"></div>
		</span>
		<span class="shot">
			<p>SHOT</p>
			<div class="bullets">
				<div class="bullet"></div>
				<div class="bullet"></div>
				<div class="bullet"></div>
			</div>
		</span>
		<div class="block">
			<div class="alert gameover">
				<span>Game Over</span>
				<a href="/index.html">Play again</a>
			</div>
		</div>
		<div class="block-win">
			<div class="alert you-win">
				<span>💫💥😎 You win! 😎💥💫</span>
				<a href="/index.html">Play again</a>
			</div>
		</div>
	</div>
</div>