
<div class="css-art-3d-css" aria-hidden="true">
  <div class="statements">
    <div class="wrapper-cone-trunk lighthouse-ceil lighthouse-poly" style="
			--number-faces: 14;
			--angle-rotate-x: 30deg;
			--depth: 22.5;
			--face__height: 40.00000000000001;
			--face__width-bottom: 10.270956347556748;
			--face__width-top: 1.1412173719507497;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cone-trunk lighthouse-crown lighthouse-poly" style="
			--number-faces: 14;
			--angle-rotate-x: 15deg;
			--depth: 19;
			--face__height: 38.63703305156273;
			--face__width-bottom: 8.673252026825697;
			--face__width-top: 4.108382539022699;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cone-trunk lighthouse-trunk lighthouse-poly" style="
			--number-faces: 14;
			--angle-rotate-x: 5deg;
			--depth: 18;
			--face__height: 114.73713245669856;
			--face__width-bottom: 8.216765078045398;
			--face__width-top: 3.651895590242399;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cylinder lighthouse-windows lighthouse-poly" style="
			--number-faces: 14;
			--depth: 17.5;
			--face__height: 60;
			--face__width: 7.988521603655248;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cone lighthouse-light lighthouse-poly" style="
			--number-faces: 14;
			--angle-rotate-x: 30deg;
			--depth: 22;
			--face__height: 44.00000000000001;
			--face__width: 10.042712873166597;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cone lighthouse-island-lawn-one lighthouse-poly" style="
			--number-faces: 14;
			--angle-rotate-x: 80deg;
			--depth: 50;
			--face__height: 50.77133059428725;
			--face__width: 22.824347439014993;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cone lighthouse-island-lawn-one lighthouse-poly" style="
			--number-faces: 14;
			--angle-rotate-x: 20deg;
			--depth: 50;
			--face__height: 146.19022000815437;
			--face__width: 22.824347439014993;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cone lighthouse-island-lawn-two lighthouse-poly" style="
			--number-faces: 14;
			--angle-rotate-x: 30deg;
			--depth: 50;
			--face__height: 100.00000000000001;
			--face__width: 22.824347439014993;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cone lighthouse-island-lawn-three lighthouse-poly" style="
			--number-faces: 14;
			--angle-rotate-x: 60deg;
			--depth: 80;
			--face__height: 92.37604307034013;
			--face__width: 36.51895590242399;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cone lighthouse-island-lawn-three lighthouse-poly" style="
			--number-faces: 14;
			--angle-rotate-x: 60deg;
			--depth: 80;
			--face__height: 92.37604307034013;
			--face__width: 36.51895590242399;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
      <div class="face" style="--i: 6;"></div>
      <div class="face" style="--i: 7;"></div>
      <div class="face" style="--i: 8;"></div>
      <div class="face" style="--i: 9;"></div>
      <div class="face" style="--i: 10;"></div>
      <div class="face" style="--i: 11;"></div>
      <div class="face" style="--i: 12;"></div>
      <div class="face" style="--i: 13;"></div>
    </div>
    <div class="wrapper-cone sea-one lighthouse-poly" style="
			--number-faces: 6;
			--angle-rotate-x: 89deg;
			--depth: 200;
			--face__height: 200.03046560878153;
			--face__width: 230.9401076758503;
		">
      <div class="face" style="--i: 0;"></div>
      <div class="face" style="--i: 1;"></div>
      <div class="face" style="--i: 2;"></div>
      <div class="face" style="--i: 3;"></div>
      <div class="face" style="--i: 4;"></div>
      <div class="face" style="--i: 5;"></div>
    </div>
  </div>
</div>