<div 
	class="smart_thumbnail thumbnail css-art__index-rocket"
	aria-hidden="true"
	>
	<div class="stars-wrapper">
		<div class="stars"></div>
		<div class="stars"></div>
		<div class="stars"></div>
		<div class="stars"></div>
		<div class="stars"></div>
	</div>
	<div class="rocket">
		<div class="wing"></div>
		<div class="wing"></div>
		<div class="spaceship">
			<div class="window"></div>
		</div>
		<div class="takeoffs-fire">
			<div class="fire"></div>
			<div class="fire"></div>
		</div>
		<div class="takeoffs-smoke">
			<div class="smoke-deploy"></div>
			<div class="smoke-outside"></div>
			<div class="smoke-inside"></div>
			<div class="smoke-particles"></div>
		</div>
	</div>
</div>